body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

}

.signup-box {
    width: 360px;
    height: 740px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.login-box {
    width: 360px;
    height: 300px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    position: relative;
    top: 20%;
    left: 15%;
    transform: translate(-50%,0);
}


h1 {
    text-align: center;
    padding-top: 15px;
}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.btn {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    text-decoration: none;

}

p {
text-align: center;
padding-top: 20px;
font-size: 15px;
}

.para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a {
    color: red;
}

.btn a{
    text-decoration: none;
    color: white;
}

.container{
    margin: 0%;
    background-image: url(brooke-lark-HlNcigvUi4Q-unsplash.jpg);
    position: relative;
    height: 120vh;
    overflow: hidden;
    background-size: cover;
}

.navbar-custom {
    background-color: lightblue;
}

.orderbtn{
    width: 150px;
    position: relative;
    left: 20%;
}

.card-title{
    text-align: center;
    font-weight: bold;
}

.card1{
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 10%; */
    padding: 10% auto;
}

.card{
    margin-top: 5%;
    line-height: 3px;
}

.card img{
    height: 280px;
    width: 280px;
}
